environment:
  global:
    MINICONDA: C:\Miniconda3-x64
  matrix:
    - PYTHON_VERSION: 3.5
    - PYTHON_VERSION: 3.6
    - PYTHON_VERSION: 3.7
    - PYTHON_VERSION: 3.8
install:
  - "set PATH=%MINICONDA%\\condabin;%PATH%"
  - call "%MINICONDA%\\Scripts\\activate.bat"
  - conda config --set always_yes yes
  - conda config --add channels conda-forge
  - conda create --name ci "python=%PYTHON_VERSION%" "pip" "setuptools"
  - conda activate ci
  - conda info
  - conda list
build_script:
  - python -m pip install .
test_script:
  - conda install --quiet --yes --update-deps --name ci --file requirements.txt
  - python -m pytest -rs --verbose --cov gwosc --pyargs gwosc --junitxml=junit.xml
after_test:
  - python -m coverage report
  - python -m pip install codecov
  - python -m codecov --flags Windows python%PYTHON_VERSION:.=% conda
on_finish:
  - ps: (New-Object 'System.Net.WebClient').UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\junit.xml))
