#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export PYBUILD_NAME = gwosc

# use pytest for tests
export PYBUILD_TEST_PYTEST = 1

# but don't run tests requiring network
export PYBUILD_TEST_ARGS = --color=yes -m 'not remote'

%:
	dh $@ --with python3 --buildsystem=pybuild
